---
import Navbar from '../components/navbar.astro'
import '../styles/index.css'
import "../styles/scrollbar.css";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://astro.js.org/astro.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Expense Manager</title>
	</head>
	<body>
		<Navbar/>
		<div class="heading">
		<img src="https://astro.js.org/astro.png" alt="">
		<p>What is <span class="orange">astro</span>?</p>
		</div>
	</body>
</html>
