---
import '../styles/navbar.css'
import '../styles/global.css'
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Expense Manager</title>
    <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
<div class="sidebar">
<div class="logo">
<img src="https://astro.js.org/astro.png">
<p>Expense<br><span class="orange">Manager</span></p>
</div>
<nav>
<a href="../login/">Astro</a>
<a href="/">Why Astro?</a>
<a href="/">Balance</a>
</nav>
<div class="socials">
  <a href="https://www.instagram.com/its_saksham_23/"><i class='bx bxl-instagram in'></i></a>
  <a href=""><i class='bx bxl-facebook-circle fb'></i></a>
  <a href=""><i class='bx bxl-twitter tw'></i></a>
</div>
</div>
</body>
</html>